@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: 'Roboto',sans-serif;
}
iframe{
    width: 900px;
    height: 900px;
    /* scroll-margin-left: none; */
}

body{
    background-color: #000;
    color: #fff;
    background-image: url(/TCC_OFNOGAMES/View/img/simbolos.svg);
    background-position: center;
}
.scroll-escondido{
    width: 880px;
    height: 660px;
    overflow: hidden;
}
.block{
    position: absolute;
    width: 900px;
    height: 168px;
    background-color: #000;
    display: flex;
    align-items: flex-end;
    padding: 10px;
    text-transform: uppercase;
}
.block-2{
    display: flex;
    width: 859px;
    padding: 15px 25px;
    margin: 0px 0px 100px 0px;
}
.block-2 div{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 130px;
    height: 110px;
    background-color: #fff;
    border-radius: 10%;
    /* padding: 0px 0px 0px 0px; */
    margin: 0px 20px 0px 0px;
}
#img-jogo{
    width: 120px;
    height: 100px;
    /* padding: 0px 20px 0px 0px; */
}
.container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}