@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700&display=swap);

*{
    padding: 0;
    margin: 0;
    font-family: 'Roboto',sans-serif;
}
table{
    margin: 5rem auto;
    background-color: #eee;
}
tr, td, th{
    border: 1px solid rgb(0, 0, 0);
    color: rgb(0, 0, 0);
}
tbody tr:nth-child(2n){
    background-color: rgb(0, 0, 0);
}
th{
    background-color: #f0f;
    color: #eee;
    text-transform: uppercase;
}
body{
    background-color: #111;
}