<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OFNO Games</title>
    <link rel="shortcut icon" href="./img/controle-de-video-game.png" type="image/x-icon">
    <link rel="stylesheet" href="./CSS/style.css">
    <link rel="stylesheet" href="./CSS/sobre_style.css">
    <link rel="stylesheet" href="./CSS/menu_style.css">
</head>
<body>
    <div id="menu_column" class="active">
        <!-- <img src="img/lupa-arredondada.png"> -->
        <h1 id="btn_close">X</h1>
        <input type="text" name="serach" id="search">
        <ul>
            <li><a href="#jogos">JOGOS</a></li>
            <li><a href="#loja">LOJA</a></li>
            <li><a href="#sobre">SOBRE</a></li>
            <li><a href="#ajuda">AJUDA</a></li>
        </ul>
        
    </div>
    <header class="container bg-purple-black text-white">
        <img src="img/menu.png" alt="icon-menu" id="icon-menu">
        <nav class="container menu">
            <div class="container">
                <a href="paginainicial.html">
                    <li>Jogos</li>
                </a>
                <a href="">
                    <li>Loja</li>
                </a>
            </div>
            <div class="container">
                <li>Ajuda</li>
                <a href="sobre.html">
                    <li>Sobre</li>
                </a>
            </div>          
        </nav>
        <img src="img/lupa-arredondada.png" alt="lupa-img">
    </header>
    <footer class="bg-purple-black">
        <div class="container">
            <a href="sobre.html">
                <h3>sobre</h3>
            </a>
            <div class="container">
                <a href="https://www.facebook.com/" target="_blank"><img src="https://cdn-icons-png.flaticon.com/512/1051/1051309.png" alt="icon-facebook" class="icon-social"></a>
                <a href="https://twitter.com/" target="_blank"><img src="https://cdn-icons-png.flaticon.com/512/3669/3669691.png" alt="icon-twitter" class="icon-social"></a>
                <a href="https://www.instagram.com/" target="_blank"><img src="https://cdn-icons-png.flaticon.com/512/3938/3938052.png" alt="icon-instagram" class="icon-social"></a>
            </div>
            <a href="ajuda.html">
                <h3>ajuda</h3>
            </a>
        </div>
        <div>
            <p>&copy; 2022, R.P.D gaMes. Todos os direito reservados. R.P.D gaMEs como logo e site inc.no Brasil da America do sul.Outras marcas e nomes de produtos são marcas registradas de 
                seus respectivos donos. Transações para alem do Brasil são feitas através da R.P.D gaMes internacioanl
            </p>
        </div>
    </footer>
    <script src="javascript/sobre.js"></script>
    <script src="javascript/menu.js"></script>
    <script src="Jquery/jquery-3.6.0.js"></script>
    <script src="Jquery/"></script>
</body>
</html>