<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>
    <link rel="stylesheet" href="CSS/login.css">
    <link rel="stylesheet" href="CSS/menu_style.css">
    <link rel="stylesheet" href="CSS/style.css">
    <script src="./src/components/Menu.js" defer></script>
    <script src="./src/components/Header.js" defer></script>
    <script src="./src/components/footer.js" defer></script>
</head>
<body class="p-5 text-light">
<!-- <script src="https://accounts.google.com/gsi/client" async defer></script> -->
   <menu-site></menu-site>
   <header-jogo></header-jogo>
   <main class="border border-white text-center p-5">
      <form method="POST" action="/TCC_OFNOGAMES/Model/PHP/cadastrar_usuario.php">
         <h3>cadastro</h3> 
         <div>
            <label for="nome">Nome:</label>
            <input type="text" name="nome" required>
         </div>
         <br>
         <div>
            <label for="email">E-mail:</label>
            <input type="email" name="email" required>
         </div>
         <br>
         <div>
            <label for="senha">Senha:</label>
            <input type="password" name="senha" required>
         </div>
         <br>
         <div>
            <label for="tel">Telefone:</label>
            <input type="tel" name="tel">
         </div>
         <br>
         <input type="submit" value="Cadastrar">
         <br>
         <!-- <div id="not" style="display: none;">
            <h3>usuario Não Cadastrado!</h3>
         </div> -->
      </form>
   <main>
   <footer-site></footer-site>
   <script>
      // const not_sub = document.getElementById('not');

      // console.log(not_sub);
      // not_sub.removeAttribute('style')
      // console.log(window.location);
      // if(window.location.search(form="1") != -1){
      //    // console.log('Funcionou');
      // }
      // //    // not_sub.removeAttribute('style');
      //    console.log('Teste');
      // }
   </script>
   <script src="javascript/menu.js"></script>
</body>
</html>