<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OFNO Games</title>
    <link rel="shortcut icon" href="/TCC_OFNOGAMES/View/img/Logo_OFNOGAMES.png" type="image/x-icon">
    <!-- Links de CSS -->
    <link rel="stylesheet" href="/TCC_OFNOGAMES/View/CSS/style.css">
    <link rel="stylesheet" href="/TCC_OFNOGAMES/View/CSS/chat_style.css">
    <!-- Componentes -->
    <script src="/TCC_OFNOGAMES//View/src/components/Header.js" defer></script>
    <script src="/TCC_OFNOGAMES/View/src/components/Menu.js" defer></script>
    <script src="/TCC_OFNOGAMES//View/src/components/footer.js" defer></script>
</head>
<body>
    <header-jogo></header-jogo>
    <menu-site></menu-site>
    <main>
        <div id="chat">
            <div class="user1">
                <p>Ola tudo bem?</p>
            </div>
            <div class="user1">
                <p>Vi que vc gosta de RPG????</p>
            </div>
            <div class="user1">
                <p>Vc joga Pokémon</p>
            </div>
            <div class="user2">
                <p>Eae tubo em sim</p>
            </div>
            <div class="user1">
                <p>Vc joga Pokémon</p>
            </div>
            <div class="user2">
                <p>Eae tubo em sim</p>
            </div>
            <div class="user1">
                <p>Vc joga Pokémon</p>
            </div>
            <div class="user2">
                <p>Eae tubo em sim</p>
            </div>
            <div class="user1">
                <p>Vc joga Pokémon</p>
            </div>
            <div class="user2">
                <p>Eae tubo em sim</p>
            </div>
            <div class="user1">
                <p>Vc joga Pokémon</p>
            </div>
            <div class="user2">
                <p>Eae tubo em sim</p>
            </div>
            <div class="user1">
                <p>Vc joga Pokémon</p>
            </div>
            <div class="user2">
                <p>Eae tubo em sim</p>
            </div>
            <div class="user2">
                <p>Eu gosto de todo tipo de jogo</p>
            </div>
            <div class="user1">
                <p>legal!!</p>
            </div>
            <div class="user2">
                <p>Me adciona ai</p>
            </div>
            <div class="user2">
                <p>Me adciona ai</p>
            </div>
            <div class="user2">
                <p>Me adciona ai</p>
            </div>
            <div class="user2">
                <p>Me adciona ai</p>
            </div>
            <div class="user1">
                <p>Ola tudo bem?</p>
            </div>
            <div class="user1">
                <p>Ola tudo bem?</p>
            </div>
            <div class="user1">
                <p>Ola tudo bem?</p>
            </div>
            <div class="user1">
                <p>Ola tudo bem?</p>
            </div>
            <div class="user1">
                <p>Ola tudo bem?</p>
            </div>
            <!-- <div class="user2">
                <p>Eae tudo bem sim</p>
            </div> -->
        </div>
        <div id="areaM">
            <div id="inputRoot" class="container">
                <input type="text">
            </div>
            <div class="circle" id="enviar">
                <img src="/TCC_OFNOGAMES/View/img/send-icon.svg" alt="enviar_img">
            </div>
        </div>
    </main>
    <footer-site></footer-site>

    <script src="/TCC_OFNOGAMES/Controller/javascript/chat.js"></script>
</body>
</html>