<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OFNO Games</title>
    <link rel="shortcut icon" href="/TCC_OFNOGAMES/View/img/Logo_OFNOGAMES.png" type="image/x-icon">
    <link rel="stylesheet" href="CSS/login.css">
    <link rel="stylesheet" href="CSS/menu_style.css">
    <link rel="stylesheet" href="CSS/style.css">
    <script src="./src/components/Header.js" defer></script>
    <script src="./src/components/Menu.js" defer></script>
    <script src="./src/components/footer.js" defer></script>
</head>
<body class="p-5 text-light">
<!-- <script src="https://accounts.google.com/gsi/client" async defer></script> -->
   <menu-site
      dir-lupe="./img/lupa-arredondada.png"
   ></menu-site>
   <header-jogo></header-jogo>
   <main class="border border-white text-center p-5">
      <form method="POST" action="/TCC_OfNoGames/Model/PHP/login.php">
         <h1>Login</h1> 
            <input type="text" name="nome" required placeholder="Usuario">
               <br>
            <input type="password" name="senha" required placeholder="Senha">
               <br>
            <input type="submit" value="Login">
            <br>
         <a href="/TCC_OFNOGAMES/View/cadastro.html">Não tem uma conta?</a>
         <!-- <div id="g_id_onload"
            data-client_id="132012896010-keem8l8iip3loramee31ar2kle4dv3vb.apps.googleusercontent.com"
            data-login_uri="http://localhost/TCC_TESTE/dados.php"
            data-auto_prompt="false">
         </div>
            <div class="g_id_signin"
            data-type="standard"
            data-size="large"
            data-theme="outline"
            data-text="sign_in_with"
            data-shape="rectangular"
            data-logo_alignment="left">
         </div> -->
      </form>
   <main>
   <footer-site></footer-site>
</body>
</html>