<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OFNO Games</title>
    <link rel="shortcut icon" href="img/controle-de-video-game.png" type="image/x-icon">
    <link rel="stylesheet" href="CSS/style.css">
    <link rel="stylesheet" href="CSS/sobre_style.css">
    <link rel="stylesheet" href="CSS/menu_style.css">
    <script src="./src/components/Menu.js"></script>
    <script src="./src/components/Header.js"></script>
    <script src="./src/components/footer.js"></script>
</head>
<body>
   <menu-site></menu-site>
   <header-jogo></header-jogo>
    <main>
        <div class="block">
            <h1>Sobre</h1>
            <p>
                Site de Jogos Gratuitos Online e Offline <span>OfNOGames</span>, um site para você
                encontrar os seus jogos favoritos, seja jogos classicos como Pokemon,
                Sonic, Mario aos mais atuais jogos de computador e celular, pura nostalgia
                com diversas categorias para você jogar e se divertir.
            </p>
        </div>
        <h1>Desenvolvedores</h1>
        <div class="container alinhar">
            <div class="dev">
                <div class="circle">
                    <img src="./img/img_devs/Richard.jpg">
                </div>
                <h2>Richard</h2>
            </div>
            <div class="dev">
                <div class="circle">
                    <img src="./img/img_devs/default.jpg">
                </div>
                <h2>Danilo</h2>
            </div>
            <div class="dev">
                <div class="circle">
                    <img src="./img/img_devs/default.jpg">
                </div>
                <h2>Marcos</h2>
            </div>
        </div>
    </main>
    <footer-site></footer-site>
</body>
</html>